.progress-bar {
	background: linear-gradient(to right, var(--flash-bg,var(--color-offblack)) 0%, var(--flash-bg,var(--color-offblack)) var(--percent), var(--block-bg,transparent) var(--percent), var(--block-bg,transparent) 100%);
	color: var(--block-fg,var(--color-white))!important;
	text-align: center;
}