:root {
    --color-black: #000000;
    --color-offblack: #1c1b1f;
    --color-white: #ffffff;
    --color-pink: #ffadd5;
    --color-green: #45d10a;
    --color-yellow: #e4ae00;
    --color-grey: #c7c7c7;
    --color-midgrey: #d5d3d0;
    --color-lightgrey: #e6e4e5;
    --color-darkgrey: #434343;
}

.c-yellow {
    --block-bg: var(--color-yellow);
    color: var(--color-yellow);
}
.c-green {
    --block-bg: var(--color-green);
    color: var(--color-green);
}
.c-pink {
    --block-bg: var(--color-pink);
    color: var(--color-pink);
}