@font-face {
  font-family: Denim INK;
  src: url(../fonts/DenimINK-SemiBold-6EI7BXBD.woff2) format('woff2'),
    url(../fonts/DenimINK-SemiBold-47CY3AKH.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Denim INK;
  src: url(../fonts/DenimINK-Bold-WY4SU2TF.woff2) format('woff2'),
    url(../fonts/DenimINK-Bold-5SFPWNGF.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Denim INK;
  src: url(../fonts/DenimINK-Regular-YY7M2VJL.woff2) format('woff2'),
    url(../fonts/DenimINK-Regular-UUJ7XEES.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Denim INK;
  src: url(../fonts/DenimINK-Light-J3BAZLHK.woff2) format('woff2'),
    url(../fonts/DenimINK-Light-HFY2BIIM.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Denim INK;
  src: url(../fonts/DenimINK-Medium-T4JMAUMH.woff2) format('woff2'),
    url(../fonts/DenimINK-Medium-BLMRAKTV.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
