:root {
    --grid-basis: 20rem;
    --site-padding: 1rem;
}

.site-wrapper {
    color: var(--site-foreground);
    background-color: var(--site-background);
    flex-grow: 1;
    padding-block-end: 2rem;
    & > :is(p, h2, h3, h4, h5, section, .padded) {
        padding-inline: var(--site-padding);
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-inline: 0;
    & > * {
        display: block;
        flex-shrink: 0;
        flex-grow: 1;
    }
    &.regular > * {
        flex-basis: var(--grid-basis);
    }
    & .full-width {
        flex-basis: 100%;
        box-sizing: border-box;
    }
}


hr {
    border: none;
    background: linear-gradient(
        var(--color-yellow) 33.333%,
        var(--color-green) 33.333%,
        var(--color-green) 66.666%,
        var(--color-pink) 66.666%
    );
    height: 2.3rem;
    margin: 0;
}