/* Put any overrides to make the OI Viz components work in this file */

.oi-viz {
  .series .hex {
    path {
      scale: 0.95;
      transition: scale 0.3s;
    }

    &:hover {
      path {
        scale: 1;
      }
    }
  }
}

.oi-map-svg {
  & .area path {
    stroke: var(--color-offblack);
    stroke-width: 2;
    stroke-opacity: 1;
  }
}

.grid .oi-map,
.grid .oi-chart
{
  max-width: 40rem;
  margin-inline: auto;
}

.oi-legend-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.oi-legend-inner {
  & .oi-legend-item {
    display: flex !important;
    align-items: center;
    gap: 0.4rem;

    &.oi-series-on {
      background: unset !important;
      outline: unset !important;
      &:hover {
        color: var(--color-offblack) !important;
        background: var(--color-midgrey) !important;
      }
    }
    &.oi-series-off {
      color: #888 !important;
    }
  }

  & .oi-legend-icon {
    margin: 0 !important;
  }
}

.oi-chart-main text {
  fill: currentColor;
}

.oi-viz .oi-legend-inner {
  color: currentColor;
}

.oi-dashboard {
  & .panel {
    font-size: 1rem;
    .footnote {
      font-size: 1em;
    }
    *:first-child {
      margin-top: 0;
    }
  }
  & .bignum {
    font-size: min(15vw, 4em);
    line-height: 1.25;
  }
}

/* .oi-dashboard .oi-dashboard-inner {
  margin-top: 2em;
  margin-bottom: 2em;
  border-style: dashed;
  border-width: 0.5px;
  border-color: #5f5e5e;
  text-align: center;
} */
