/* Put any overrides to make the OI Viz components work in this file */

.grid .oi-viz {
    max-width: 40rem;
    margin-inline: auto;
}

.oi-legend-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oi-legend-inner {
    & .oi-legend-item {
        display: flex !important;
        gap: 0.5rem;
    }
}