
tabbed {
  --selected-colour: black;
  --selected-background: white;
  --unselected-colour: var(--color);
  --unselected-background: var(--background);
  --hover-colour: white;
  --hover-background: #343333;
  display: block;

  & [role="tablist"] {
    padding: 0;
    margin-block: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--border-width);
  }

  & a {
    color: inherit;
  }

  & [role="tab"] {
    display: block;
    position: relative;
    padding: 0.5em;
    color: var(--unselected-colour);
    background-color: var(--unselected-background);
    flex-grow: 1;
    flex-shrink: 1;

    &[aria-selected=true] {
      color: var(--selected-colour);
      background-color: var(--selected-background);
    }

    &:hover {
      color: var(--hover-colour);
      background-color: var(--hover-background);
    }
  }
}
tabbed.big {
	.oi-table {
		padding: 2px;
	}
	table tbody tr:hover {
		outline: 2px dashed black;
	}
	[role=tablist] {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(var(--tab-count, 3), minmax(100px, 1fr));
		overflow-x: auto;
	}
	li {
		display: flex;
	}
	[role=tab] {
		display: block;
		font-weight: bold;
		padding: 2rem;
		border-radius: 0 2rem 0 0;
		text-decoration: none;
		box-shadow: rgba(0, 0, 0, 0.05) 0px -1rem 0.5rem -0.5rem inset;
		background-color: var(--post-it-bg);
		color: var(--color-black);
	}
	> div {
		background-color: var(--selected-background);
		padding: 2rem;
	}
	section > *:first-child {
		margin-top: 0;
	}
	[data-comp="dashboard-InfoBoxTable"] {
		padding-block: 0;
	}
	[aria-selected="true"]:is([role="tab"]){
		box-shadow: unset;
		background: var(--color-white);
	}
}
