table {
  margin-inline: auto;
  border-collapse: collapse;
  
  & * {
    color: var(--block-fg);
    background-color: var(--block-bg);
  }
  
  &.sticky-head {
    position: relative;    
    thead {
      th {
        position: sticky;
        top: 0;
      }
    }
  }
}

td,
th {
  padding: 0.35rem;
}

