table {
    --block-bg: inherit;
    --block-fg: inherit;
    margin-inline: auto;
    border-collapse: collapse;
    & * {
        color: var(--block-fg);
        background-color: var(--block-bg);
    }
}
td, th {
    padding: 0.35rem;
}
