*:focus, button:hover, button:focus, .block a[data-comp=controlActions-InPageLink]:hover, .block a[data-comp=controlActions-InPageLink]:focus {
	outline: .15em dashed currentColor;
	outline-offset: .3em;
}

html, body { scroll-behavior: smooth }

[data-flash=true] { overflow: hidden; }
[data-flash=true] .flash {
	font-size: var(--flash-font-size, 1rem);
	font-weight: initial;
	display: block;
	color: var(--flash-fg,black);
	background: var(--flash-bg,var(--color-yellow));
	text-align: center;
	opacity: 90%;
	position: absolute;
	top: 0;
	left: 100%;
	padding-block: 0.3rem;
	padding-inline: 6rem;
	transform: translate3d(-50%,0,0) rotate(45deg) translateY(var(--flash-offset, 1.5rem));
	transform-origin: center top;
	clip-path: polygon(50% -1.5em,calc(50% + 6em) 4.5em,calc(50% - 6em) 4.5em);
}

.centred {
  text-align: center;
}

.right {
  text-align: right;
}

.post-it {
  position: relative;
  outline: none;
  flex-basis: 5em;
  flex-grow: 0;
  flex-shrink: 0;
  height: 4em;
  background: #e4ae00;
  padding: 0.5em;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 0; */
    border-right: 0.5em solid var(--post-it-bg);
    border-top: 0.5em solid hsl(46, 100%, 35%);
  }
}

.call-out {
  --timing-reg: .3s;
  font-weight: 400;
  line-height: 1;
  color: var(--color-black);
  background-color: var(--color-white);
  padding-block: 0.5rem 0.7rem;
  padding-inline: 1.8rem;
  text-align: center;
  border-radius: 3rem;
  box-shadow: 1px 1px 4px #0000001a;
  transition: color var(--timing-reg), box-shadow var(--timing-reg), background-color var(--timing-reg);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    box-shadow: 1px 1px 1px #0000001a;
  }

  @media (prefers-color-scheme: dark) {
    & {
      background-color: var(--color-offblack);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
      }
    }
  }
}

.fix-svg-ratio-bd {
  .oi-viz svg {
    aspect-ratio: 1 / 1;
  }
}

.limit-width {
  max-width: var(--limit-width, 40rem);
  margin-inline: auto;
}