[data-flash] {
  overflow: hidden;
  position: relative;
}
[data-flash]:before {
  content: attr(data-flash);
  font-size: var(--flash-font-size, 1rem);
  font-weight: initial;
  display: block;
  color: black;
  background: #e4ae00;
  text-align: center;
  opacity: 80%;
  position: absolute;
  top: 0;
  right: 0;
  padding-block: 0.3rem;
  padding-inline: 6rem;
  transform: translate(50%, -50%) rotate(45deg) translate(0, var(--flash-offset, 3rem));
}

.centred {
  text-align: center;
}

.post-it {
  position: relative;
  outline: none;
  flex-basis: 5em;
  flex-grow: 0;
  flex-shrink: 0;
  height: 4em;
  background: #e4ae00;
  padding: 0.5em;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 0; */
    border-right: 0.5em solid var(--post-it-bg);
    border-top: 0.5em solid hsl(46, 100%, 35%);
  }
}