.oi-viz {
  .series .hex {
    path {
      scale: 0.95;
      transition: scale 0.3s;
    }
    &:hover {
      path {
        scale: 1;
      }
    }
  }
}

.oi-legend-item { margin: 0.3em;}
.oi-legend-item.oi-series-on { background: inherit!important; outline: 0.5px dashed #5f5e5e!important; }
.oi-legend-label { color: #a5a2a2 }

.oi-chart-main text {  margin-top: 2em; margin-bottom: 2em; fill: #a5a2a2; } 

.oi-dashboard .oi-dashboard-inner { margin-top: 2em; margin-bottom: 2em; border-style: dashed; border-width: 0.5px; border-color: #5f5e5e; text-align: center; }
