.block {
	--hover: var(--color-pink);
	display: block;
	color: var(--block-fg, var(--color-white));
	background: var(--block-bg, var(--color-offblack));
	&.uncoloured, &.no-colour {
		color: inherit;
		background: inherit;
	}
	padding: 1rem;
	box-sizing: border-box;
	& > *:first-child {
		margin-block-start: 0;
		padding-block-start: 0;
	}
	& > *:last-child {
		margin-block-end: 0;
		padding-block-end: 0;
	}
	&:is(a), & a {
		text-decoration: unset;
	}
	& a {
		color: inherit;
	}
}
.block:is(a):hover, .block:is(a):focus {
	background: var(--block-bg, var(--color-black));
}
* + .internal { margin-top: 0; }
.internal {
	border-image: repeating-linear-gradient( -65deg, var(--color-yellow), var(--color-yellow) 10px, black 10px, black 20px) 20;
	border-block: 8px solid;
	text-wrap: balance;
}
.internal-header {
	background: var(--color-grey);
	color: var(--color-black);
}