<h2>Venues</h2>

<p>Some event series are associated with particular venues.</p>

<h3>Loading Bay</h3>
<ul>
{{ for venue, eventCount of events.by_venue.loading_bay }}
	<li>{{ venue }} has held {{ eventCount }} event{{ eventCount !== 1 ? 's' : '' }}.
{{ /for }}
</ul>

<h3>Beacon</h3>
<ul>
{{ for venue, eventCount of events.by_venue.beacon }}
	<li>{{ venue }} has held {{ eventCount }} event{{ eventCount !== 1 ? 's' : '' }}.
{{ /for }}
</ul>