_site
_cache
/env/
node_modules/
/working/upstream

# Local GH secrets file
.secrets

__pycache__

.env
data/reference/onspd_extract.csv
raw/arts-council-investment-programme.csv
raw/arts-council-project-grants.csv
raw/charity-area-data.zip
raw/charity-classification-data.zip
raw/charity-data.zip
raw/company-data.zip
raw/data-lake.db
raw/onspd.zip
