[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
petl = "*"
ipykernel = "*"
geopandas = "*"
shapely = "*"
matplotlib = "*"
requests = "*"
fiona = "*"
papermill = "*"
pyarrow = "*"
dvc = {extras = ["ssh"], version = "*"}
ipython = "*"
rap-utils = "==0.0.8"
thefuzz = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
