[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
petl = "*"
geopandas = "*"
shapely = "*"
matplotlib = "*"
requests = "*"
fiona = "*"
papermill = "*"
pyarrow = "*"
dvc = {extras = ["ssh"], version = "*"}
ipykernel = "*"
openpyxl = "*"
fsspec = "*"
aiohttp = "*"
pandas = "*"
beautifulsoup4 = "*"
thefuzz = "*"
nltk = "*"
duckdb = "*"
nbconvert = "*"
odfpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
