---
css: |
    [data-comp=dashboard-cell] {
        display: flex !important;
        flex-direction: column;
        height: 100%;
        min-width:400px;
        & .title {
            flex-grow: 1;
        }
    }
---
{{ comp grid.Brick }}
<div data-comp='dashboard-cell' class="block"{{ if flash }} data-flash="{{ flash }}"{{ /if }}>
<{{ heading_level || 'h3' }} class="title">{{ title }}</{{ heading_level || 'h3' }}>
{{ content }}
</div>
{{ /comp }}
