---
css: |
    [data-comp=dashboard-Cell] {
        .date {
            text-align: center;
            color: var(--date-fg, #dddddd);
        }
    }
---
{{ if upTo }}
    <p class='date'>
        <span class="text">up to {{ upTo |> date('HUMAN_DATE') }}</span>
    </p>
{{ /if }}