<section class="grid regular" style="--grid-basis: 30rem;">
<h2 class="full-width">Demographics of volunteers</h2>

<div class="full-width">
    <p>
        This section shows summaries of volunteers by demographic groupings, including age and ethnicity.
    </p>
</div>

{{ include './demographics/age.vto' }}

</section>