{{ comp.oi.chart.bar({
    config: {
        data,
        category,
        series,
        width: 800,
        height: data.length * 60,
        legend: {
            show: series.length > 1
        },
        axis,
    }
}) }}