---
title: La Haine – Live
description: Event monitoring report for the Asian Dub Foundation live soundtrack to La Haine, 15 January 2025
draft: true
tags:
    - event
    - report
layout: templates/report/event.vto
mainPage: https://bradford2025.co.uk/event/la-haine-live/
date: 2024-01-15
---

