---
css: |
    [data-comp=link-default-card] {
        & > *:first-child {
            margin-block-start: 0;
        }
        & > *:last-child {
            margin-block-end: 0;
        }

    }
---
<a data-comp='link-default-card' href="{{ url }}" class="block">
    <h2>{{ title }}</h2>
    {{ description |> md }}
</a>
