---
css: |
    [data-comp=link-event-card] {
        *:first-child {
            margin-block-start: 0;
        }
        *:last-child {
            margin-block-end: 0;
        }
        display: block;
    }
---
<a href="{{ url }}" data-comp='link-event-card' class="block">
    <h2>{{ title }}</h2>
    <p>{{ date |> date('BD25_LONG_DATE') }}</p>
    {{ description |> md }}
	{{ comp.Pill({ content: 'Event' } ) }}
</a>