---
title: RISE
description: Event monitoring report for RISE, 10-11 January 2025
draft: true
layout: templates/report/event.vto
tags:
    - event
    - report
datasets:
    - tickets/tickets
    - tickets/event-instances
    - volunteers/shifts
    - sustainability/calculations
mainPage: https://bradford2025.co.uk/event/rise/
date: 2025-01-11
---

