---
layout: templates/page.vto
---

{{ set subpages = search.pages(`${index_tag} !url=${ url }`) }}

{{ if subpages.length }}
<ul>
{{ for page of subpages }}
    <li>
        <p><a href="{{ page.url }}">{{ page.title }}</a></p>
        <p>{{ page.description |> md }}</p>

    </li>
{{ /for }}
</ul>
{{ else }}
<p>
    There are no pages tagged with <q>{{ index_tag }}</p>.
</p>
{{ /if}}



