---
layout: templates/base.vto
---

{{ comp.SiteHeader({ title }) }}

{{ comp.Breadcrumbs({ breadcrumbs, title, url }) }}

<main class="site-wrapper">
{{ content }}
</main>

{{ comp.SiteFooter(page.data) }}