---
layout: templates/base.vto
---

{{ comp.SiteHeader(page.data) }}

{{ comp.Breadcrumbs({ breadcrumbs: breadcrumbs_full || breadcrumbs, title, url }) }}

<main class="site-wrapper">
{{ content }}
</main>

{{ comp.SiteFooter(page.data) }}