---
layout: templates/base.vto
stylesheets:
  - /assets/vendor/reveal/dist/reveal.css
  - /assets/vendor/reveal/dist/theme/simple.css
---

<div class="reveal">
  <div class="slides">
    {{ content }}
  </div>
</div>
<script src="/assets/vendor/reveal/dist/reveal.js"></script>
<script>
  Reveal.initialize({
    // Activate the scroll view
    view: 'scroll',

    // Force the scrollbar to remain visible
    scrollProgress: true,
  });
</script>
