---
draft: true
title: July to September 2025 dashboard
description: |
    This dashboard shows metrics for quarter 2 of 2025/6 (Jul-Sep 2025)
layout: ../_layout.vto
targets: {}
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}
