{{ comp dashboard.Cell {
	title: metrics.audiences_digital_event_attendees.title,
	flash: metrics.audiences_digital_event_attendees.flash,
	classes: 'audiences'
} }}
	{{ comp.BigNumber({
		number: metrics.audiences_digital_event_attendees.actual ,
		suffix: '',
	}) }}
        {{ comp.dashboard.Footer({
		upTo: metrics.audiences_digital_event_attendees.upTo
	}) }}
	{{ comp Controls }}
		{{ comp Popover }}
			{{ metrics.audiences_digital_event_attendees.description |> md }}
		{{ /comp }}
	{{ /comp }}
{{ /comp }}
