{{
    comp.oi.map.hex_cartogram({
        config: {
            hexjson: hexes.bd_2024,
            label: 'n',
        }
    })
}}

{{
    comp.oi.map.hex_cartogram({
        config: {
            hexjson: hexes.wyca,
            label: 'n',
        }
    })
}}