<section data-background-color="#1c1b1f">
  <h2>Principles</h2>
  <p>
    A clear set of principles will help justify the organisational change.
  </p>
</section>

<section>
  <h3>Potential principles</h3>
  <div class="post-its">
    <ul>
      <li>Bold & transparent</li>
      <li>Own the discussion</li>
      <li>Automate updates</li>
      <li>&hellip;</li>
    </ul>
  </div>
</section>