<section data-background-color="#1c1b1f">
  <h2>Principles</h2>
  <p>
    A clear set of principles will help justify the organisational change.
  </p>
</section>

<section>
  <h3>Potential principles</h3>
  <ul class="no-bullets flex-grid">
    <li class="post-it">Bold & transparent</li>
    <li class="post-it">Own the discussion</li>
    <li class="post-it">Automate updates</li>
    <li class="post-it">&hellip;</li>
  </ul>
</section>