<section data-background-color="#1c1b1f" id="outline-plan">
  <h2>Outline plan</h2>
  <p>
    Understanding critical dependencies will help ensure appropriate planning of milestones.
  </p>
</section>

<section>
<h3>Key milestones</h3>

<aside class="notes">
  <ul>
    <li>Evaluation</li>
    <li>Production</li>
    <li>Communications</li>
    <li>Board reporting</li>
    <li>University programmes</li>
    <li></li>
  </ul>
</aside>
</section>

<section>
  <h3>Work packages</h3>
</section>