<section data-background-color="#1c1b1f" id="references">
  <h2>References</h2>
</section>

<section>
  <h3>Links</h3>
  <ul class="no-bullets flex-grid" style="--bg-col:var(--color-darkgrey);">
    {{ for i, s of references }}
      <li class="grid-block"><a href="{{ s.url }}">{{ s.title }}</a></li>
    {{ /for }}
  </ul>
</section>