<section data-background-color="var(--color-offblack)" id="references">
  <h2>References</h2>
</section>

<section>
  <h3>Links</h3>
  <ul class="grid">
    {{ for i, s of references }}
      <li class="block"><a href="{{ s.url }}">{{ s.title }}</a></li>
    {{ /for }}
  </ul>
</section>