---
title: Les Girafes
description: Event monitoring report for Les Girafes, 24 August 2024
draft: true
tags:
    - event
    - report
layout: templates/report/event.vto
datasets:
    # - tickets/tickets
    # - tickets/event-instances
    - volunteers/shifts
mainPage: https://bradford2025.co.uk/event/les-girafes/
date: 2024-08-24
---

