.river {
	display:flex;
	flex-direction:column;
	max-width: 90rem;
	padding-top: var(--site-padding);
}
.river h2 { margin: 0; }
.river > *:first-child{ margin-top: 0; }
.river * + * { margin-top: 0; }
h2 { font-size: 32px; margin-block: 0; margin-top: 2rem; }
h3 { font-size: 1.5em; }
.dashboard { margin-top: var(--grid-gap); margin-bottom: 0; }
.dashboard h3 { font-size: 2em; margin-bottom: 0; }
.dashboard .big[data-comp="big-number"] { align-items: start; }
.dashboard .big[data-comp="big-number"] .number { line-height: 1em; }
.dashboard li { position: relative; }
.dashboard li > .block { padding: 2rem; position: relative; }
.dashboard .block h3 { padding-top: 0; margin-top: 0; line-height: 1em; }
.dashboard .more { display: inline-block; }
.oi-viz.oi-chart { margin-block: 1rem; margin-top: 2rem; }
.updated { margin-block: 0; }
.dashboard :is(.oi-viz .axis-grid-x) g[data] text { dominant-baseline: unset; }
.oi-viz > a:focus { padding: 0.5rem; background: black; color: white; margin: 0!important; }
.oi-viz tspan { font-size: 16px; }
.full-width .oi-viz tspan { font-size: 0.7vw; }
[data-comp=grid-Brick] { flex-basis: 450px; }
[data-comp="big-number"] .number { font-size: min(4em,var(--big-number-size,10vw)); }


tabbed.big { margin-top: 1rem; }
tabbed.big [role="tablist"] {
	display: flex;
	gap: 0.5rem;
	justify-content: left;
	overflow-x: unset;
}
tabbed.big [role="tab"] {
	background-color: var(--color-offblack);
	color: var(--color-white);
	flex-basis: 160px; 
	padding: 1rem 2rem;
	font-size: 1em;
	margin-bottom: 0; 
	line-height: 1em;
	box-shadow: inset 0 -1rem 1rem -.5rem rgba(0,0,0,.1);
}
tabbed.big [aria-selected="true"]:is([role="tab"]) {
	color: var(--color-black);
}
tabbed.big [role="tab"]:focus {
	outline: .15em dashed currentColor;
}
tabbed.big [role="tabpanel"] > *:last-child { margin-bottom: 0; }
tabbed.big table tbody tr:hover { outline: 0; }
tabbed.big table tbody tr:hover td { background: var(--color-offblack)!important; color: var(--color-white) !important; }

@media (max-width: 768px) {
	tab-set.big {
		[role=tablist] { grid-gap: 0.5rem; }
		[role=tab], > div { padding: 1rem; border-radius: 0; box-shadow: none; border-bottom: 1px solid var(--color-midgrey); }
		[role="tablist"] { display: block; }
		[role="tablist"] li, [role="tablist"] a {
			display: block;
			position: static;
		}
		[role="tablist"] [aria-selected]::after {
			content: '\0020⬅';
		}
		
	}
	[aria-selected="true"]:is(tab-set.big [role="tab"]){ border-bottom: 0; }
	.wide-only { display: none; }
}
.oi-map-svg .area path { stroke-width: 0.5; }
.oi-chart-line .axis-grid line { stroke: rgba(0,0,0,0.4); stroke-width: 0.5px; }
.hex path { stroke: rgba(0,0,0,0.4); stroke-width: 0.5px; vector-effect: non-scaling-stroke; }
.oi-series-on:is(.oi-legend-inner .oi-legend-item):hover { background: var(--color-offblack) !important; color: var(--color-white) !important; }
.series[data-series="0"] { display: none; }
.oi-filter-results [role="menuitem"] { background: var(--block-bg)!important; color: var(--block-fg)!important; }
.oi-filter-results [role="menuitem"]:focus { background: var(--flash-bg)!important; color: var(--flash-fg)!important; }
.oi-filter.searching input { width: 300px; max-width: 100%; }
.oi-legend-scale { border: 1px solid rgba(0,0,0,0.4); }
.oi-top { container: oi-legend / inline-size; }
@container oi-legend (width < 1200px) {
	.oi-legend {
		font-size: min(1em,2.5cqw);
	}
}

table td, table th { border-top: 0.5px solid rgba(0,0,0,0.4); background: white; color: var(--color-offblack); }
table tr:last-child td { border-bottom: 0.5px solid rgba(0,0,0,0.4); }
table tr th:last-child { text-align: right; }
.subtitle { max-width: 30ch; font-weight: bold; }
p { max-width: 900px; }
