@layer defaults, overrides;
@import 'css/fonts.css';
@import 'css/visual.css';
@import 'css/utils.css';

:root {
  --color-black: #000000;
  --color-offblack: #1c1b1f;
  --color-white: #ffffff;
  --color-pink: #ffadd5;
  --color-green: #45d10a;
  --color-yellow: #e4ae00;
  --color-grey: #c7c7c7;
  --color-midgrey: #d5d3d0;
  --color-lightgrey: #e6e4e5;
  --color-darkgrey: #434343;
  --fonstack-main: "Denim INK", "Helvetica", sans-serif;
}
html {
  font-family: var(--fonstack-main);
  font-size: 100%;
  height: 100%;
  box-sizing: border-box;
}
body {
  background: var(--color-offblack);
  color: var(--color-white);
  font-family: var(--fonstack-main);
  min-height: 100%;
  max-width: 100ch;
  margin-block: 0;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}
main {
    flex-grow: 1;
}

dt {
  font-weight: bold;
}
* + dt {
  margin-block-start: 1rem;
}