---
draft: true
title: January to December 2025 dashboard
description: |
    This dashboard shows metrics for 2025 (Jan-Dec 2025)
layout: ../_layout.vto
targets: {}
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}
