---
layout: templates/page.vto
stylesheets:
  - /assets/css/bd25-dashboard.css
---
<section>
<p>{{ description }}. See <a href="{{ mainPage }}">the {{ title }} page on the main Bradford 2025 website</a> for more information.</p>
</section>

{{ comp.event.Headlines({ ...event }) }}

{{ if content }}
<section>
{{ content |> md }}
</section>
{{ /if }}

{{ comp.event.EventSummary({ ...event }) }}

{{ if event && event.tickets }}
{{ comp.event.Tickets({ tickets: event.tickets }) }}
{{ /if }}