---
draft: true
title: "Quarter 1 dashboard"
breadcrumbs:
  - title: Key Performance Indicators
    url: /insights/dashboard/
description: |
    This dashboard shows metrics for the first quarter (January to March) of 2025
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}}
<p>
    This version of the dashboard contains a view of the key metrics for the first quarter (January to March) of 2025.
</p>