---
draft: true
title: Q1 Key Performance Indicators report
tags:
    - sub
breadcrumbs:
  - title: Key Performance Indicators
    url: /insights/dashboard/
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}}
<p>
    This version of the dashboard contains a view of the key metrics for the first quarter (January to March) of 2025.

</p>

<p>
    Please note, at the moment it shows the same figures as the <a href="/insights/dashboard/">main dashboard</a>.
</p>