---
css: |
    [data-comp=big-number] {
        color: var(--block-fg) !important;
        background: var(--block-bg);
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            margin-block: 0;
        }
        & .number {
            font-size: 3em;
            font-weight: bold;
        }
    }
---
<div data-comp="big-number" class="{{ classes || ""}}">
<p class="number">{{ number }}</p>
{{ content }}
</div>