---
title: The Great Adventure Build
description: Event monitoring report for The Great Adventure Build
draft: true
layout: templates/report/event.vto
tags:
    - event
    - report
mainPage: https://bradford2025.co.uk/event/the-great-adventure-build/
date: 2025-04-05
---

