{{# TODO All TBC to be replaced with definition of what the top-level number shows
#}}

{{ comp dashboard.Frame }}

    {{ include './events/total.vto' }}
	{{ include './events/in_person.vto' }}
	{{ include './events/online.vto' }}
	{{ include './events/community_led.vto' }}
	{{ include './events/festivals.vto' }}
	{{ include './events/exhibitions.vto' }}
	{{ include './events/exhibition_days.vto' }}
	{{ include './events/free_activities.vto' }}

{{ /comp }}