---
draft: true
title: October to December 2025 dashboard
description: |
    This dashboard shows metrics for quarter 4 of 2025/6 (Oct-Dec 2025)
layout: ../_layout.vto
targets: {}
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}
