---
title: Domain language
description: |
    Terminology that is used to describe concepts is an important aspect to clear communication.
    The Bradford 2025 Data Dashboard will adopt a clear domain language.
---

