---
title: Geospatial
description: |
    The Bradford 2025 Data Dashboards will use various geospatial visualisations.
---

<section class="grid regular">
{{ include './_partials/geographical.vto' }}
</section>

<section class="grid regular">
{{ include './_partials/hexmaps.vto' }}
</section>
