---
css: |
    [data-comp=WARNING] {
        text-align: center;
        margin-block: 1em;
    }
---
<aside data-comp='WARNING' class="block c-yellow">
<p>
    <b>PLEASE NOTE</b>: The numbers presented in this dashboard
    are not yet directly derived from data stored in Bradford 2025 systems.
    We are still in the process of validating the accuracy of the presented numbers.
</p>
</aside>
