{{ comp dashboard.Cell {
	title: metrics.participants_professional_educational.title,
	flash: metrics.participants_professional_educational.flash,
	classes: 'participants'
} }}
	{{ comp.BigNumber({
		number: metrics.participants_professional_educational.actual,
	}) }}
	{{ comp.dashboard.Footer({
		upTo: metrics.participants_professional_educational.upTo
	}) }}
	{{ comp Controls }}
		{{ comp Popover }}
			{{ metrics.participants_professional_educational.description |> md }}
		{{ /comp }}
	{{ /comp }}
{{ /comp }}
