{{ comp dashboard.Cell {
	title: metrics.participants_schools_engaged.title,
	flash: metrics.participants_schools_engaged.flash,
	classes: 'participants'
} }}
	{{ comp.BigNumber({
		number: metrics.participants_schools_engaged.actual ,
		suffix: '',
	}) }}
	{{ comp.dashboard.Footer({
		upTo: metrics.participants_schools_engaged.upTo
	}) }}
	{{ comp Controls }}
		{{ comp Popover }}
			{{ metrics.participants_schools_engaged.description |> md }}
		{{ /comp }}
	{{ /comp }}
{{ /comp }}
