---
css: |
    [data-comp="grid-Auto"] {
        display: flex;
        flex-wrap: wrap;
        gap: var(--grid-gap);
        padding-inline: 0;
        & > * {
            max-width: 100%;
            overflow-x: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
---
<{{ tag || 'div' }} data-comp="grid-Auto">
{{ content }}
</{{ tag || 'div' }}>