---
css: |
    [data-comp=grid-Brick] {
        display: flex;
        flex-direction: column;
        & > * {
            flex-grow: 1;
        }
    }
---
{{>
    let extraStyle = '';
    if (cols) {
        extraStyle += `--cols:${cols}`;
    }
}}
<{{ tag || 'div' }} data-comp="grid-Brick"
    {{ if style }} style="{{ style }}{{ extraStyle }}"{{ /if }}
    {{ if classes }} class="{{ classes }}"{{ /if }}
>
{{ content }}
</{{ tag || 'div'}}>