---
title: Information Architecture
description: |
    The structure and layour of the Bradford 2025 Data Dashboard site will assist
    users of the site understanding and accessing the data and information it presents.
---