---
draft: true
title: All-time dashboard
tags:
  - sub
description: |
    This dashboard shows metrics since January 2024
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}
