---
title: Grue
description: Event monitoring report for Grue, 8–9 & 15–23 Feb 2025
draft: true
tags:
    - event
    - report
datasets:
    - tickets/tickets
    - tickets/event-instances
    - volunteers/shifts
    - sustainability/calculations
mainPage: https://bradford2025.co.uk/event/grue/
date: 2025-02-23
---
