---
css: |
    [data-comp=Controls] {
        display: flex;
        font-size: 2rem;
        height: 1em;
        gap: 1em;
        justify-content: end;
    }
---
<div data-comp="Controls">
{{ content }}
</div>