---
title: Glossary
description: |
    This site might refer to terms which are not in common use, or which have a
    very specific meaning.
    The glossary collects these terms into a single location
layout: templates/page.vto
url: /glossary/
tags:
    - index
breadcrumbs:
    - url: /
---

<section>
<dl>
{{ for entry of search.pages('glossary !index').toSorted((a, b) => a.url.toUpperCase() < b.url.toUpperCase() ? -1 : 1) }}
    {{ comp.Entry({ ...entry }) }}
{{ /for }}
</dl>
</section>