---
title: The Beacon
description: Aggregated event report for The Beacon events
draft: true
layout: templates/report/event.vto
tags:
    - event
    - report
mainPage: https://bradford2025.co.uk/programme/the-beacon/
date: 2025-04-05
---

