---
draft: true
title: April to June 2025 dashboard
description: |
    This dashboard shows metrics for quarter 1 of 2025/6 (Apr-Jun 2025)
layout: ../_layout.vto
targets: {}
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}
