---
draft: true
title: Quarter 2 dashboard
breadcrumbs:
  - title: Key Performance Indicators
    url: /insights/dashboard/
description: |
    This dashboard shows metrics for the second quarter (April to June) of 2025
---
{{# Content for this is defined in <src/_includes/templates/dashboard/kpi.md> #}