<p style="font-weight: bold;flex-grow:0;">{{ name }}</p>
{{ if examples }}<p style="font-style:italic;font-size:0.8em;margin:0;flex-grow:0;">{{ examples |> join(', ') }}</p>{{ /if }}
<p style="font-size:0.8em;"><em>Aim:</em> {{ aim }}</p>
