---
title: Design System
description: |
    The design and presentaton of Bradford 2025 data is founded on the corporate brand,
    extended with best practice around data presentation and accessibility.
    The design system contextualises these extensions.
---

<section class="grid regular">
{{ for p of search.pages(`design url!=${url}`, 'title') }}
<a class="block" href="{{ p.url }}">
    <h2>{{ p.title }}</h2>
    {{ p.description |> md }}
</a>
{{ /for }}
</section>
