---
layout: templates/presentation.vto
---

<style>
:root {
  --r-main-font: var(--fonstack-main);
  --r-heading-font: var(--fonstack-main);
}
</style>
<section>
  <h1>Bradford 2025 Data Strategy</h1>
</section>
<section>
  Slide 2
</section>