---
title: The Bradford Progress
description: Event monitoring report for The Bradford Progress, 17-18 May 2025
draft: true
layout: templates/report/event.vto
tags:
    - event
    - report
mainPage: https://bradford2025.co.uk/programme/the-bradford-progress/
date: 2025-05-17
---

