---
css: |
  .block-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    & > * {
      display: block;
      margin: 0;
      padding: 0.3em;
      flex-basis: 10em;
    }
    * a:hover {
      text-decoration: underline;
    }
  }
---
<{{ tag || 'div' }} class="block-grid">
  {{ content }}
</{{ tag || 'div' }}>
