{{ if datasets && search.pages('dataset').length > 0 }}
<aside data-comp="data-references" class="block">
<p>This page uses data from the following sources:</p>
<ul class="grid">
{{ for dataset of datasets }}
    {{ set cataloguePage = search.page(`dataset key=${ dataset }`) }}
    {{ if cataloguePage }}
    <li class="block c-yellow">
        <a href="{{ cataloguePage.url }}">{{ cataloguePage.title }}</a>
    </li>
    {{ /if }}
{{ /for }}
</ul>
</aside>
{{ /if }}