{{ if end }}
{{>
    const yearless = "L LLL";
    const withYear = yearless + " y";
    const startDateFormat = (new Date(start)).getFullYear() == (new Date(end)).getFullYear() ? yearless : withYear;
}}
<span class="date-range">{{ start |> date(startDateFormat)}} – {{ end |> date(withYear)}}</span>
{{ else }}
<span class="date">{{ start |> date(withYear)}}</span>
{{ /if }}