{{>
    const yearless = "do LLL";
    const withYear = yearless + " y";
}}
{{- if end -}}
{{>
    const startDateFormat = (new Date(start)).getFullYear() == (new Date(end)).getFullYear() ? yearless : withYear;
}}
<span class="date-range">{{ start |> date(startDateFormat)}} – {{ end |> date(withYear)}}</span>
{{- else -}}
<span class="date">{{ start |> date(withYear)}}</span>
{{- /if }}