---
css: |
    [data-comp=Details] {
        &[open] {
        }
    }
---
<details data-comp='Details'{{ if id }} id='{{ id }}'{{ /if }}>
    {{ if summary }}<summary>{{ summary }}</summary>{{ /if -}}
    {{ content }}
</details>