---
css: |
    figure {
        margin-block: 0;
        margin-inline: 0;
    }
    figcaption {
        text-align: center;
        font-style: italic;
    }
---
<figure>
{{ if captionPosition?.toLowerCase() === 'top' }}<figcaption>{{ caption }}</figcaption>{{ /if }}
{{ content }}
{{ if (!captionPosition || (captionPosition?.toLowerCase() === 'bottom')) }}<figcaption>{{ caption }}</figcaption>{{ /if }}
</figure>