<p style="font-weight: bold;">{{ name }}</p>
{{ if examples }}<p style="font-style: italic; font-size:0.8em;margin:0;">{{ examples |> join(', ') }}</p>{{ /if }}
<p style="font-size:0.8em;"><em>Aim:</em> {{ aim }}</p>
