---
css: |
    [data-comp=WARNING] {
        text-align: center;
        /*margin-top: var(--site-padding);*/
        p { max-width: unset; }
    }
---
<aside data-comp='WARNING' class="block c-yellow">
{{ content }}
</aside>
