<div data-comp="wordCloud" style="margin-top:1rem;aspect-ratio:4/3;font-family:var(--fontstack-main);background:white;" data-dependencies="/assets/js/tooltip.js,/assets/js/word-cloud.js"{{ if maxWords }} data-maxWords="{{ maxWords }}"{{ /if }}><table class="input">
	<thead>
		<tr><td>Word</td><td>Count</td></tr>
	</thead>
	<tbody>
	{{ for row of words }}
		<tr><td{{ if row.colour }} style="color:{{ row.colour }}"{{ /if }}>{{ row.word }}</td><td>{{ row.weight }}</tr>
	{{ /for }}
	</tbody>
</table></div>