---
block: block
---

{{ comp grid.Block { block, internal, draft, id, tag: 'li', classes: 'audiences' } }}
	<div class="block">
		<h3>Example block - audiences</h3>
		<p>Some example text.</p>
	</div>
{{ /comp }}
