---
block: block-52
---

{{ comp grid.Block { block, internal, draft, id, tag: 'li', classes: 'events', source: 'Bradford 2025', notes: 'Awaiting data. To be built.' } }}

	<h3>Top digital projects</h3>


{{ /comp }}