---
block: block-46
---

{{ comp grid.Block { block, internal, draft, id, tag: 'li', classes: 'audiences' } }}

	<h3>Survey demographics: sexuality</h3>

	{{ import { buildBreakdown } from "./functions.vto" }}
	{{ await buildBreakdown(survey_sexuality,"Sexual orientation","Percentage",["#e1699f","#be9006","#437e2a"]) }}

	<p>Last updated {{ comp.Date({start:'2026-02',dateFormat:'LLLL y'}) }}.</p>

{{ /comp }}
