---
block: block-45
---

{{ comp grid.Block { block, internal, draft, id, tag: 'li', classes: 'audiences' } }}

	<h3>Survey demographics: residence</h3>

	{{ import { buildBreakdown } from "./functions.vto" }}
	{{ await buildBreakdown(survey_residence,"Where is your primary residence?","Number") }}

	<p>Last updated {{ comp.Date({start:'2026-02',dateFormat:'LLLL y'}) }}.</p>

{{ /comp }}
