# Pre-requisites
#
# You need either to have set the following environment secrets:
#
# DEPLOY_KEY - Private key for an SSH key with (at least) read only access to the bradford-2025/open-data-pipelines project
#              The deploy key is one of the ones set in https://github.com/bradford-2025/open-data-pipelines/settings/keys
#
# SSH_HOST - host to deploy the site to
# SSH_USER - user for deployment
# SSH_PASS - password for the user
# SSH_PATH - path on the host to deploy to

name: Deploy dev

"on":
  workflow_dispatch: {}
  push:
    branches: [ main ]
    paths:
      - src/**
      - data/**
      - _config.ts
      - deno.json
      - .github/workflows/deploy-dev.yml
  workflow_run:
    workflows: [Update data]
    types: [completed]    

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build job
  dev-build:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    env:
      DENO_DIR: /var/tmp/deno_cache

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup deno
        uses: ./.github/actions/setup-deno-environment

      - name: Setup python
        uses: ./.github/actions/setup-python-environment

      - name: Get status and report data
        uses: ./.github/actions/fetch-build-data
        with:
          deploy-key: ${{ secrets.DEPLOY_KEY }}

      - name: Build the dev site
        run: | 
          # deno task install_deps
          deno task build:dev

      - name: Deploy the dev site to bytemark
        run: |
          # apt update
          # apt install -y rsync sshpass
          deno task deploy:dev
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_PATH: ${{ secrets.SSH_PATH }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSHPASS: ${{ secrets.SSH_PASS }}
