---
title: Contains Strong Language
description: Event monitoring report for CSL, 18-21 Sep 2025
draft: true
tags:
    - event
    - report
mainPage: https://bradford2025.co.uk/programme/bbc-contains-strong-language/
date: 2025-09-21
---
